<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">

</head>
<body class="container">
<div th:replace="fragments :: page-header"></div>
<h1 th:text="${title}"></h1>
<!--<img class="image" src="https://freesvg.org/img/under-construction_geek_man_01.png" alt="trainer" width="615" height="450" >-->


<table class="table"  id="example">
<thead>
<tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip Code</th>
    <th>Amenities</th>
</tr>
</thead>
<tr  th:each="gym : ${gyms}">
    <th th:text="${gym.name}"></th>
    <th th:text="${gym.email}"></th>
    <th th:text="${gym.phoneNumber}"></th>
    <th th:text="${gym.address.street}"></th>
    <th th:text="${gym.address.city}"></th>
    <th th:text="${gym.address.state}"></th>
    <th th:text="${gym.address.zipCode}"></th>
    <th>
        <span th:if="${gym.amenities.swimmingPool}">Swimming Pool </span>
        <span th:if="${gym.amenities.tennisCourt}">Tennis Court </span>
        <span th:if="${gym.amenities.bikePath}">Bike Path </span>
        <span th:if="${gym.amenities.walkingPath}">Walking Path </span>
        <span th:if="${gym.amenities.golfCourse}">Golf Course </span>
        <span th:if="${gym.amenities.drivingRange}">Driving Range </span>
        <span th:if="${gym.amenities.baseballField}">Baseball Field </span>
        <span th:if="${gym.amenities.basketballCourt}">Basketball Court </span>
    </th>
</tr>
</table>

</br>


<footer th:replace="fragments :: footer"></footer>
<p th:replace="fragments :: java"></p>
</body>
</html>