<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">-->
        <link rel="stylesheet" th:href="@{/styles.css}">
<!--        <scritp src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></scritp>-->
        <style>
          @media screen and (max-width: 992px) {
            .goodBye {
                display: none;
            }
          }

          @media screen and (max-width: 250px) {
            .byeBye {
                display: none;
            }
          }

          @media screen and (max-width: 767px) {
            .exampleAZ {
                display: none;
            }
          }
        </style>
    </head>

    <body>
        <header th:replace="fragments :: page-header"></header>

        <div class="container px-5">
            <h1 style="color: #0056b9; text-align: center;"  th:text="${title}"></h1>



<body class="container">
<header th:replace="fragments :: page-header"></header>
<div class="container py-3">
<h1 th:text="${title}"></h1>
            <form method="post" th:action="@{trainer/create}">

            <!--Create Trainer card header-->
                <div class="row justify-content-start">
                    <div class="col-md-12" py-3>
                        <div class="card md-8 rounded-3 shadow-sm" style="border: 1px solid #0056b9;">
                            <h5 class="card-header" style="background-color:#0056b9; color: white">Create Trainer</h5>

<!--                            <div class="form-group">-->
                            <div class="card-body">
                                <div class="row justify-content-start">
                                    <div>
                                    <div class="col">
                                        <label class="form-label" style="margin-right:20px">Name
                                            <input th:field="${trainer.name}" class="form-control" style="border: 1px solid #0056b9">
                                        </label>
                                        <p class="error" th:errors="${trainer.name}"></p>

                                        <label class="form-label" style="margin-right:20px">Contact Number
                                            <input th:field="${trainer.contactNumber}" class="form-control" style="border: 1px solid #0056b9">
                                        </label>
                                        <p class="error" th:errors="${trainer.contactNumber}"></p>
                                    </div>
                                    </div>

                                    <div class="col">
                                        <label class="form-label" style="margin-right:20px">Contact Email
                                            <input th:field="${trainer.contactEmail}" class="form-control" style="border: 1px solid #0056b9">
                                        </label>
                                        <p class="error" th:errors="${trainer.contactEmail}"></p>

                                        <label class="form-label" style="margin-right:20px;">Select Trainer Type
                                            <select  class="nav-item dropdown rounded-3" th:field="${trainer.type}" style="border: 1px solid #0056b9; height:38px">
                                                <option th:each="type : ${types}"
                                                        th:value="${type}"
                                                        th:text="${type.exerciseType}"
                                                ></option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn" style="background-color: #0056b9; color: white;" type="submit" value="Create" th:href="@{/trainer/create}">
                    </div>
                </div>
            </form>
        </div>
    </div>

<!--        </div>-->
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>