<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">
<!--<script th:src="@{/main.js}"></script>-->
<link rel="stylesheet" th:href="@{/workOut.css}"/>
<!--<link rel="stylesheet" th:href="@{/styles.css}" />-->
<head th:replace="fragments :: head"></head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<header th:replace="fragments :: page-header"></header>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact Number</th>
        <th>Contact Email</th>
    </tr>
    </thead>
    <tr class="table" th:each="trainer : ${Trainers}">
        <th th:text="${trainer.name}"></th>
        <th th:text="${trainer.contactNumber}"></th>
        <th th:text="${trainer.contactEmail}"></th>
    </tr>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript">$(document).ready(function() {
    $('#example').DataTable();
} );</script>