<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">
<!--<script th:src="@{/main.js}"></script>-->
<!--<link rel="stylesheet" th:href="@{/styles.css}" />-->
<head th:replace="fragments :: head"></head>
<p th:replace="fragments :: bootstrap"></p>

<header th:replace="fragments :: page-header"></header>

<body>
<h1>Welcome to uTrain!</h1>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact Number</th>
        <th>Contact Email</th>

    </tr>
    </thead>
    <tr class="table" th:each="trainer : ${trainers}">
        <th th:text="${trainer.name}"></th>
        <th th:text="${trainer.contactNumber}"></th>
        <th th:text="${trainer.contactEmail}"></th>
    </tr>
</table>


<p th:replace="fragments :: java"></p>


</body>
</html>