<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: page-header"></header>

<form method="post" th:action="@{/user/addprofile}">

  <input type="hidden" th:field="${user.id}" name="userId" />
  <input type="hidden" th:field="${user.pwHash}" name="pwHash" />
  <input type="hidden" th:field="${user.userDetail.id}" name="userDetailId"/>
  <input type="hidden" th:field="${user.userDetail.address.id}" name="userDetailAddressId"/>
  <input type="hidden" th:field="${user.userDetail.interests.id}" name="userDetailAddressId"/>


  <h3>General Information</h3>
  <div class="form-group">
    <label>User Name
      <input  th:field="${user.username}" class="form-control">
    </label>
    <p class="error" th:errors="${user.username}"></p>
  </div>
  <div class="form-group">
    <label>First Name
      <input th:field="${user.userDetail.firstName}" class="form-control">
    </label>
    <p class="error" th:errors="${user.userDetail.firstName}"></p>
  </div>
  <div class="form-group">
    <label>Last Name
      <input th:field="${user.userDetail.lastName}" class="form-control">
    </label>
    <p class="error" th:errors="${user.userDetail.lastName}"></p>
  </div>
  <div>
  <label>Sex
    <select class="form-control" th:field="${user.userDetail.userSex}">
      <option th:each="userSex : ${sexes}"
              th:value="${userSex}"
              th:text="${userSex.userSex}"
      ></option>
    </select>
  </label>
  <p class="error" th:errors="${user.userDetail.userSex}"></p>
  </div>
  <div>
    <label>Email
      <input th:field="${user.email}" class="form-control">
    </label>
    <p class="error" th:errors="${user.email}"></p>
  </div>
  <div>
    <label>Age
      <input type="number"th:field="${user.userDetail.age}" class="form-control">
    </label>
    <p class="error" th:errors="${user.userDetail.age}"></p>
  </div>
  <div>
    <label>Height (In Inches)
      <input type="number" th:field="${user.userDetail.height}" class="form-control">
    </label>
    <p class="error" th:errors="${user.userDetail.height}"></p>
  </div>
  <div>
    <label>Weight (In lbs)
      <input type="number" th:field="${user.userDetail.weight}" class="form-control">
    </label>
    <p class="error" th:errors="${user.userDetail.weight}"></p>
  </div>
  <h3>Address</h3>
  <div>
    <label>Street
      <input th:field="${user.userDetail.address.street}"  class="form-control">
    </label>
    <p class="error" th:errors="${user.userDetail.address.street}"></p>
  </div>
  <div>
    <label>City
      <input th:field="${user.userDetail.address.city}" class="form-control">
    </label>
    <p class="error" th:errors="${user.userDetail.address.city}"></p>
  </div>
  <div>
    <label>State
      <input th:field="${user.userDetail.address.state}" class="form-control">
    </label>
    <p class="error" th:errors="${user.userDetail.address.state}"></p>
  </div>
  <div>
    <label>Zip Code
      <input th:field="${user.userDetail.address.zipCode}" class="form-control">
    </label>
    <p class="error" th:errors="${user.userDetail.address.zipCode}"></p>
  </div>

  <h3>Interests</h3>
  <h4>Select Interests that apply to you</h4>
  <div>
    <label>Walking</label>
      <input th:field="${user.userDetail.interests.walking}" type="checkbox" name="walking">
    <label>Running</label>
      <input th:field="${user.userDetail.interests.running}" type="checkbox" name="running">
    <label>Cycling</label>
      <input th:field="${user.userDetail.interests.cycling}" type="checkbox" name="cycling">
    <label>Golf</label>
      <input th:field="${user.userDetail.interests.golf}" type="checkbox" name="golf">
    <label>Baseball</label>
      <input th:field="${user.userDetail.interests.baseball}" type="checkbox" name="baseball">
    <label>Basketball</label>
      <input th:field="${user.userDetail.interests.basketball}" type="checkbox" name="basketball">
    <label>Swimming</label>
      <input th:field="${user.userDetail.interests.swimming}" type="checkbox" name="swimming">
    <label>Tennis</label>
      <input th:field="${user.userDetail.interests.tennis}" type="checkbox" name="tennis">
    </label>
  </div>

  <div class="form-group">
    <input type="submit" value="Update" class="btn btn-secondary">
  </div>

</form>
<p><a th:href="@{/user/index}">Back to Home</a></p>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>