<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
    <div th:replace="fragments :: page-header"></div>
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6">
                    <div style="border: 1px solid #0056b9;" class="card mb-4 rounded-3 shadow-sm">
                        <div style="background-color: #0056b9;" class="header py-3 text-white text-center">
                            <h1 class="my-0 fw-normal" style="text-shadow: 2px 2px grey">Your BMI</h1>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tr>
                                    <td style="text-align: center;  border:1px solid #0056b9; border:1px solid #0056b9;" class="miniTitleTable"><h2 style="text-decoration: underline;">Your BMI</h2></td>
                                    <td style="text-align: center; " class="numTable"><h3 style="font-weight: bold;" th:text="${bmi1}">Below 18.5</h3></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;  border:1px solid #0056b9;" class="miniTitleTable"><h2 style="text-decoration: underline;">Your Height</h2></td>
                                    <td style="text-align: center; " class="numTable"><h3 style="font-weight: bold;" th:text="${user.userDetail.height}">Between 18.5 -24.9</h3></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;  border:1px solid #0056b9;" class="miniTitleTable"><h2 style="text-decoration: underline;">Your Weight</h2></td>
                                    <td style="text-align: center; " class="numTable"><h3 style="font-weight: bold;" th:text="${user.userDetail.weight}">25 - 29.9</h3></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div style="border:1px solid #0056b9;" class="card mb-4 rounded-3 shadow-sm">
                        <div style="background-color: #0056b9;" class="header py-3 text-white text-center">
                            <h1 class="my-0 fw-normal" style="text-shadow: 2px 2px grey"> BMI Table</h1>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tr>
                                    <td style="text-align: center; " class="subTitleTable"><h3 style="font-weight: bold;">Classification</h3></td>
                                    <td style="text-align: center; " class="subTitleTable"><h3 style="font-weight: bold;">BMI Target</h3></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;  border:1px solid #0056b9; border:1px solid #0056b9;" class="miniTitleTable"><h4 style="text-decoration: underline;">Underweight</h4></td>
                                    <td style="text-align: center; " class="numTable"><h5>Below 18.5</h5></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;  border:1px solid #0056b9;" class="miniTitleTable"><h4 style="text-decoration: underline;">Healthy</h4></td>
                                    <td style="text-align: center; " class="numTable"><h5>Between 18.5 -24.9</h5></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;  border:1px solid #0056b9;" class="miniTitleTable"><h4 style="text-decoration: underline;">Overweight</h4></td>
                                    <td style="text-align: center; " class="numTable"><h5>25 - 29.9</h5></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;  border:1px solid #0056b9;" class="miniTitleTable"><h4 style="text-decoration: underline;">Obese</h4></td>
                                    <td style="text-align: center; " class="numTable"><h5>Over 30</h5></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <footer th:replace="fragments :: footer"></footer>
        </div>

    </body>
</html>