<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: page-header"></header>

<a><img src="https://i.ibb.co/Fm4B9wR/IMG-1555.png" alt="logo" border="0" width="100" height="100">
    <h2 th:if="${user.isNew}" class="stroke"  th:text="'Welcome, ' + ${user.username} + '!'"></h2>
<h2 th:unless="${user.isNew}" class="stroke" th:text="'Welcome, ' + ${user.userDetail.firstName} + '!'"></h2>

</a>

<!--On user index page only 6 messages will appear. The newest 3 sent and received messages-->

<p th:text="${bmi}"></p>
<p th:text="${bmiStandard}"></p>

<h3>Received Messages</h3>
<table class="table">
    <thead>
    <tr>
        <th>From</th>
        <th>Message</th>
        <th>Date</th>
    </tr>
    </thead>
    <th:block th:if="${receivedMessages.size > 2}">
    <tr>
        <th th:text="${receivedMessages[0].sender}"></th>
        <th th:text="${receivedMessages[0].body}"></th>
        <th th:text="${receivedMessages[0].date}"></th>
    </tr>
    <tr>
        <th th:text="${receivedMessages[1].sender}"></th>
        <th th:text="${receivedMessages[1].body}"></th>
        <th th:text="${receivedMessages[1].date}"></th>
    </tr>
    <tr>
        <th th:text="${receivedMessages[2].sender}"></th>
        <th th:text="${receivedMessages[2].body}"></th>
        <th th:text="${receivedMessages[2].date}"></th>
    </tr>
    </th:block>
    <th:block th:unless="${receivedMessages.size > 2}">
        <tr th:each="message : ${receivedMessages}">
            <th th:text="${message.sender}"></th>
            <th th:text="${message.body}"></th>
            <th th:text="${message.date}"></th>
        </tr>
    </th:block>
</table>

<h3>Sent Messages</h3>
<table class="table">
    <thead>
    <tr>
        <th>To</th>
        <th>Message</th>
        <th>Date</th>
    </tr>
    </thead>
    <th:block th:if="${sentMessages.size > 2}">
        <tr>
            <th th:text="${sentMessages[0].recipient}"></th>
            <th th:text="${sentMessages[0].body}"></th>
            <th th:text="${sentMessages[0].date}"></th>
        </tr>
        <tr>
            <th th:text="${sentMessages[1].recipient}"></th>
            <th th:text="${sentMessages[1].body}"></th>
            <th th:text="${sentMessages[1].date}"></th>
        </tr>
        <tr>
            <th th:text="${sentMessages[2].recipient}"></th>
            <th th:text="${sentMessages[2].body}"></th>
            <th th:text="${sentMessages[2].date}"></th>
        </tr>
    </th:block>
    <th:block th:unless="${sentMessages.size > 2}">
        <tr th:each="message : ${sentMessages}">
            <th th:text="${message.recipient}"></th>
            <th th:text="${message.body}"></th>
            <th th:text="${message.date}"></th>
        </tr>
    </th:block>
</table>

<p><a href="/message/addmessage">Send New Message</a></p>

</br>

<div class= "photos">
    <img class="image" src="https://i2.wp.com/www.eatthis.com/wp-content/uploads/2020/05/running.jpg?resize=640%2C360&ssl=1" alt="washingCars" width="465" height="300" >
    <img class="image" src="https://cdn2.cyclist.co.uk/sites/cyclist/files/2020/01/acp-algarve-road_12.jpg" alt="washingCars" width="465" height="300" >
    <img class="image" src="https://www.wellandgood.com/wp-content/uploads/2020/02/GettyImages-1128646064.jpg" alt="cycling" width="465" height="300" >
    <img class="image" src="https://cdn.shopify.com/s/files/1/0009/1112/products/personal-trainer_1800x.jpg?v=1586368428" alt="trainer" width="465" height="300" >
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>