<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: page-header"></header>
<div>
    <div>
        <img th:if="${user.userPhoto == null}" src="https://i.ibb.co/z4wjxxQ/IMG-1588.png" class="proPic2">
        <img th:unless="${user.userPhoto == null}" th:src="@{'/profilePic/' + ${user.userPhoto.profilePic} + '/'}" alt="avatar" class="proPic2">
    </div>

    <a  th:href="@{/user/profilePhoto}" class="proPicXchange">Change Your Profile Photo!</a>
</div>
<!--<img th:src="@{'/profilePic/' + ${user.userPhoto.profilePic} + '/'}" alt="avatar" class="proPic2">-->
<h2 style="color: white">General Info</h2>

<table class="table">
    <thead>
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.userDetail.firstName}"></td>
        <td th:text="${user.userDetail.lastName}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    <thead>
    <tr>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Sex</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${user.userDetail.age}"></td>
        <td th:text="${user.userDetail.height}"></td>
        <td th:text="${user.userDetail.weight}"></td>
        <td th:text="${user.userDetail.userSex}"></td>
    </tr>
</table>

<h2 style="color: white">Interests</h2>
<div>
<p class="interests" th:if="${user.userDetail.interests.walking}">Walking</p>
<p class="interests" th:if="${user.userDetail.interests.running}">Running</p>
<p class="interests" th:if="${user.userDetail.interests.cycling}">Cycling</p>
<p class="interests" th:if="${user.userDetail.interests.golf}">Golf</p>
<p class="interests" th:if="${user.userDetail.interests.baseball}">Baseball</p>
<p class="interests" th:if="${user.userDetail.interests.basketball}">Basketball</p>
<p class="interests" th:if="${user.userDetail.interests.swimming}">Swimming</p>
<p class="interests" th:if="${user.userDetail.interests.tennis}">Tennis</p>
</div>

<h2 style="color: white">Address</h2>
<table class="table">
    <thead>
    <tr>
        <th>Street</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${user.userDetail.address.street}"></td>
    </tr>
    <thead>
    <tr>
        <th>City, State, Zip</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${user.userDetail.address.city} + ', ' + ${user.userDetail.address.state} + ', ' + ${user.userDetail.address.zipCode}"></td>
    </tr>
</table>
<p><a th:href="@{/user/addprofile/{id}(id=${user.id})}">Edit Profile</a> <a th:href="@{/user/index}">Back to Home</a></p>
</br>

<footer th:replace="fragments :: footer"></footer>

<script>
// Get the modal
let modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>