<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container">-->

<!--<div th:replace="fragments :: page-header"></div>-->



<!--<div>-->
<!--  <h3>Current Conditions</h3>-->
<!--  <p th:text="${currentWeather.description}">Description</p>-->
<!--  <h3>Temperature</h3>-->
<!--  <p th:text="${currentWeather.temperature} + ' &#8457;'">Temperature</p>-->
<!--  <h3>Feels Like</h3>-->
<!--  <p th:text="${currentWeather.feelsLike} + ' &#8457;'">Feels Like</p>-->
<!--  <h3>Wind Speed</h3>-->
<!--  <p th:text="${currentWeather.windSpeed} + ' mph'"></p>-->
<!--  <h3>Humidity</h3>-->
<!--  <p th:text="${currentWeather.humidity}"></p>-->
<!--  <h3>Latitude</h3>-->
<!--  <p th:text="${currentWeather.lat}"></p>-->
<!--  <h3>Longitude</h3>-->
<!--  <p th:text="${currentWeather.lon}"></p>-->
<!--  <h3>Sunrise</h3>-->
<!--  <p th:text="${currentWeather.sunrise}"></p>-->
<!--  <h3>Sunset</h3>-->
<!--  <p th:text="${currentWeather.sunset}"></p>-->
<!--  <h3>Low Daily Temperature</h3>-->
<!--  <p th:text="${currentWeather.temp_min}"></p>-->
<!--  <h3>High Daily Temperature</h3>-->
<!--  <p th:text="${currentWeather.temp_max}"></p>-->
<!--  <h3>Time Zone</h3>-->
<!--  <p th:text="${currentWeather.timeZone}"></p>-->
<!--  <h3>Time Updated</h3>-->
<!--  <p th:text="${currentWeather.timeUpdated}"></p>-->
<!--  <h3>City Name</h3>-->
<!--  <p th:text="${currentWeather.cityName}"></p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">-->
  <link rel="stylesheet" href="weather.css">
    <style>
       @media screen and (max-width: 992px) {
            .goodBye {
                display: none;
            }
       }

      @media screen and (max-width: 250px) {
        .byeBye {
            display: none;
        }
      }

      @media screen and (max-width: 767px) {
        .exampleAZ {
            display: none;
        }
      }
    </style>
</head>


<body>
<div class="container py-3" style="background-image: linear-gradient(#81D4FA, #2196F3);">

    <header th:replace="fragments :: page-header"></header>

    <div class="container-fluid  mx-auto" style="padding-top: 11px; padding-bottom: 32px;">
      <div class="row d-flex justify-content-center" style="">
        <div class="row card0">
          <!--      col-md-7-->
          <div class="card1 col-lg-8">
    <!--        <small>the.weather</small>-->
            <div class="text-center"> <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png"> </div>
            <div class="row px-3 mt-3 mb-3">
              <h1 class="large-font" th:text="${currentWeather.temperature} + '&#8457;'" style="width: 190px;"></h1>
              <div class="d-flex flex-column" style="width: 160px; padding: 0px;">
                <h2 class="mt-3 mb-0" th:text="${currentWeather.cityName}"></h2> <small th:text="${currentWeather.timeUpdated}"></small>
              </div>
              <div class="d-flex flex-column text-center" style="width: 50px; padding: 0px;">
                <img class="pt-2 mb-0 pb-0" th:src="${currentWeather.iconName}"></img> <small th:text=" '   ' + ${currentWeather.description}"></small>
              </div>
            </div>
          </div>
          <!--      col-md-5-->
          <div class="card2 col-lg-4 text-center">
            <!--        px-3  mb-5-->
    <!--        <div class="row px-3"><input type="text" name="location" placeholder="Another location" class="mb-5">-->
    <!--          <div class="fa fa-search mb-5 mr-0 text-center" style="height: 56px; width: auto; float: right;" ></div>-->
    <!--        </div>-->
    <!--        < class="mr-5">-->
              <div class="line mt-5 mb-1"></div>
              <h4 style="color: white;" class="my-3">Weather Details</h4>
            <div class="row">
                <p style="width: 176px;" class="light-text">Feels like</p>
                <p style="width: 176px; color: white;" class="ml-auto" th:text="${currentWeather.feelsLike} + ' &#8457;'"></p>
            </div>
            <div class="row">
                <p style="width: 176px;" class="light-text">Humidity</p>
                <p style="width: 176px; color: white;" class="ml-auto" th:text="${currentWeather.humidity} + '&#37;'"></p>
            </div>
            <div class="row">
                <p style="width: 176px;" class="light-text">Wind Speed</p>
                <p style="width: 176px; color: white;" class="ml-auto" th:text="${currentWeather.windSpeed} + ' mph'"></p>
            </div>
            <div class="row">
                <p style="width: 176px;" class="light-text">Max Temp</p>
                <p style="width: 176px; color: white;" class="ml-auto" th:text="${currentWeather.temp_max} + '&#8457;'" ></p>
            </div>
             <div class="row">
                <p style="width: 176px;" class="light-text">Min Temp</p>
                <p style="width: 176px; color: white;" class="ml-auto" th:text="${currentWeather.temp_min} + '&#8457;'" ></p>
             </div>
             <div class="line my-5"></div>
              <!--          <p>Weather Details</p>-->
              <div class="row">
                <p style="width: 176px;" class="light-text">Sunrise</p>
                <p style="width: 176px; color: white;" class="ml-auto" th:text="${currentWeather.sunrise}"></p>
              </div>
              <div class="row">
                <p style="width: 176px;" class="light-text">Sunset</p>
                <p style="width: 176px; color: white;" class="ml-auto" th:text="${currentWeather.sunset}"></p>
              </div>
              <div class="row">
                <p style="width: 176px;" class="light-text">Latitude</p>
                <p style="width: 176px; color: white;" class="ml-auto" th:text="${currentWeather.lat}"></p>
              </div>
              <div class="row">
                <p style="width: 176px;" class="light-text">Longitude</p>
                <p style="width: 176px; color: white;" class="ml-auto" th:text="${currentWeather.lon}"></p>
              </div>
              <div class="line mt-3"></div>
            </div>
          </div>
        </div>
      </div>
<!--    </div>-->

    <!--<div class="container-fluid">-->
    <!--  <div class="row justify-content-center" style="; width: auto;">-->
    <!--&lt;!&ndash;    <div class="card">&ndash;&gt;-->
    <!--      <div class="card col-lg-7 col-md-6" style="background-image: linear-gradient(#2196F3, #81D4FA); padding: 30px 20px 30px 50px;">-->
    <!--        <div class="text-center"><img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png"></div>-->
    <!--        <div class="row">-->
    <!--          <h1 th:text="${currentWeather.temperature} + ' &#8457;'"></h1>-->
    <!--          <div class="col-lg-4">-->
    <!--            <h2  th:text="${currentWeather.cityName}"></h2>-->
    <!--            <small th:text="${currentWeather.timeUpdated}"></small></br>-->
    <!--            <h3 class="fa fa-sun-o mt-4"></h3> <small th:text="${currentWeather.description}"></small>-->
    <!--          </div>-->

    <!--        </div>-->

    <!--      </div>-->
    <!--      <div class="card col-lg-5 col-md-6" style="background-color: #607D8B; padding: 0px 0px 40px 40px;">-->
    <!--&lt;!&ndash;        <div class="row"><input type="text" name="location" placeholder="Zip Code:">&ndash;&gt;-->
    <!--&lt;!&ndash;          <div class="fa fa-search" style="height: 56;"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;        </div>&ndash;&gt;-->
    <!--        <div class="text-center">-->
    <!--          <div class="line my-5"></div>-->
    <!--          <p>Weather Details</p>-->
    <!--            <p class="light-text">Feels like</p>-->
    <!--            <p class="ml-auto" th:text="${currentWeather.feelsLike} + ' &#8457;'"></p>-->
    <!--            <p class="light-text">Humidity</p>-->
    <!--            <p class="ml-auto" th:text="${currentWeather.humidity}"></p>-->
    <!--            <p class="light-text">Wind Speed</p>-->
    <!--            <p class="ml-auto" th:text="${currentWeather.windSpeed} + ' mph'"></p>-->
    <!--            <p class="light-text">Max Temp</p>-->
    <!--            <p class="ml-auto" th:text="${currentWeather.temp_max}" ></p>-->
    <!--            <p class="light-text">Min Temp</p>-->
    <!--            <p class="ml-auto" th:text="${currentWeather.temp_min}" ></p>-->

    <!--          <div class="line my-5"></div>-->
    <!--          &lt;!&ndash;          <p>Weather Details</p>&ndash;&gt;-->
    <!--            <p class="light-text">Sunrise</p>-->
    <!--            <p class="ml-auto" th:text="${currentWeather.sunrise}">1</p>-->
    <!--            <p class="light-text">Sunset</p>-->
    <!--            <p class="ml-auto" th:text="${currentWeather.sunset}"></p>-->
    <!--            <p class="light-text">Latitude</p>-->
    <!--            <p class="ml-auto" th:text="${currentWeather.lat}"></p>-->
    <!--            <p class="light-text">Longitude</p>-->
    <!--            <p class="ml-auto" th:text="${currentWeather.lon}"></p>-->
    <!--          <div class="line mt-3"></div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--&lt;!&ndash;  </div>&ndash;&gt;-->
    <!--</div>-->

    <!--<div class="container-fluid px-1 px-sm-3 py-5 mx-auto">-->
    <!--  <div class="row d-flex justify-content-center" style="height: 950px;">-->
    <!--    <div class="row card0">-->
    <!--&lt;!&ndash;      col-md-7&ndash;&gt;-->
    <!--      <div class="card1 col-lg-8"> <small>the.weather</small>-->
    <!--        <div class="text-center"> <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png"> </div>-->
    <!--        <div class="row px-3 mt-3 mb-3">-->
    <!--          <h1 class="large-font mr-3" th:text="${currentWeather.temperature} + ' &#8457;'"></h1>-->
    <!--          <div class="d-flex flex-column mr-3">-->
    <!--            <h2 class="mt-3 mb-0" th:text="${currentWeather.cityName}"></h2> <small th:text="${currentWeather.timeUpdated}"></small>-->
    <!--&lt;!&ndash;          </div>&ndash;&gt;-->
    <!--&lt;!&ndash;          <div class="d-flex flex-column text-center">&ndash;&gt;-->
    <!--            <h3 class="fa fa-sun-o mt-4"></h3> <small th:text="${currentWeather.description}"></small>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--&lt;!&ndash;      col-md-5&ndash;&gt;-->
    <!--      <div class="card2 col-lg-4 ">-->
    <!--&lt;!&ndash;        px-3  mb-5&ndash;&gt;-->
    <!--          <div class="row px-3"><input type="text" name="location" placeholder="Another location" class="mb-5">-->
    <!--            <div class="fa fa-search mb-5 mr-0 text-center" style="height: 56px; width: auto; float: right;" ></div>-->
    <!--          </div>-->
    <!--          <div class="mr-5">-->
    <!--            <p>Weather Details</p>-->
    <!--            <div class="row px-2">-->
    <!--              <p class="light-text">Feels like</p>-->
    <!--              <p class="ml-auto" th:text="${currentWeather.feelsLike} + ' &#8457;'"></p>-->
    <!--            </div>-->
    <!--            <div class="row px-2">-->
    <!--              <p class="light-text">Humidity</p>-->
    <!--              <p class="ml-auto" th:text="${currentWeather.humidity}"></p>-->
    <!--            </div>-->
    <!--            <div class="row px-2">-->
    <!--              <p class="light-text">Wind Speed</p>-->
    <!--              <p class="ml-auto" th:text="${currentWeather.windSpeed} + ' mph'"></p>-->
    <!--            </div>-->
    <!--            <div class="row px-2">-->
    <!--              <p class="light-text">Max Temp</p>-->
    <!--              <p class="ml-auto" th:text="${currentWeather.temp_max}" ></p>-->
    <!--            </div>-->
    <!--            <div class="row px-2">-->
    <!--              <p class="light-text">Min Temp</p>-->
    <!--              <p class="ml-auto" th:text="${currentWeather.temp_min}" ></p>-->
    <!--            </div>-->
    <!--            <div class="line my-5"></div>-->
    <!--            &lt;!&ndash;          <p>Weather Details</p>&ndash;&gt;-->
    <!--            <div class="row px-2">-->
    <!--              <p class="light-text">Sunrise</p>-->
    <!--              <p class="ml-auto" th:text="${currentWeather.sunrise}">1</p>-->
    <!--            </div>-->
    <!--            <div class="row px-2">-->
    <!--              <p class="light-text">Sunset</p>-->
    <!--              <p class="ml-auto" th:text="${currentWeather.sunset}"></p>-->
    <!--            </div>-->
    <!--            <div class="row px-2">-->
    <!--              <p class="light-text">Latitude</p>-->
    <!--              <p class="ml-auto" th:text="${currentWeather.lat}"></p>-->
    <!--            </div>-->
    <!--            <div class="row px-2">-->
    <!--              <p class="light-text">Longitude</p>-->
    <!--              <p class="ml-auto" th:text="${currentWeather.lon}"></p>-->
    <!--            </div>-->
    <!--            <div class="line mt-3"></div>-->
    <!--          </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>