<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class="container">

<div th:replace="fragments :: page-header"></div>



<div>
  <h3>Current Conditions</h3>
  <p th:text="${currentWeather.description}">Description</p>
  <h3>Temperature</h3>
  <p th:text="${currentWeather.temperature} + ' &#8457;'">Temperature</p>
  <h3>Feels Like</h3>
  <p th:text="${currentWeather.feelsLike} + ' &#8457;'">Feels Like</p>
  <h3>Wind Speed</h3>
  <p th:text="${currentWeather.windSpeed} + ' mph'"></p>
  <h3>Humidity</h3>
  <p th:text="${currentWeather.humidity}"></p>
  <h3>Latitude</h3>
  <p th:text="${currentWeather.lat}"></p>
  <h3>Longitude</h3>
  <p th:text="${currentWeather.lon}"></p>
  <h3>Sunrise</h3>
  <p th:text="${currentWeather.sunrise}"></p>
  <h3>Sunset</h3>
  <p th:text="${currentWeather.sunset}"></p>
  <h3>Low Daily Temperature</h3>
  <p th:text="${currentWeather.temp_min}"></p>
  <h3>High Daily Temperature</h3>
  <p th:text="${currentWeather.temp_max}"></p>
  <p th:text="${currentWeather.normiesDate2}"></p>
</div>
</body>
</html>