<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
  <meta charset="UTF-8"/>
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:fragment="header">
  <h1 th:text="${title}">Custom Workouts!</h1>
  <ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/workouts">All Custom Workouts</a></li>
    <li class="nav-item"><a class="nav-link" href="/workouts/create">Create Workout</a></li>
    <li class="nav-item"><a class="nav-link" href="/workouts/delete">Delete Workouts</a></li>

  </ul>
</nav>

</body>
</html>