<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link href="@{/bootstrap.css}" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header th:fragment="header">
    <div class="navbar">
        <h2 href="">uTrain</h2>
        <a href="/company">About Us</a>
        <div class="dropdown">
            <button class="dropbtn">Services
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/homeExercises">Home Exercises</a>
                <a href="/outdoorExercises">Outdoor Exercises</a>
                <a href="/gymExercises">Gym Exercises</a>
                <a href="/gymLocator">Gym Locator</a>
            </div>
        </div>
        <a href="/signUp">Sign Up</a>
        <a href="/login">Login</a>
    </div >
    <h2 th:text="${title}"></h2>
</header>



<footer th:fragment="footer" class="footer">
    <p>uTrain 2021<br>St. Louis, MO<br>
        <a class="foots" href="Customer.Service@uTrain.com">Customer.Service@uTrain.com</a></p>
</footer>

</body>
</html>