<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title>uTrain</title>
</head>

<body>
<ul th:fragment="page-header">
    <li class="logo">
        <a class="one" href="">
            <img src="https://i.ibb.co/mFszRzy/IMG-1539.png" alt="logo" border="0" width="60" height="51">
        </a>
    </li>
    <li th:if="${loggedIn}"><a href="/user/bmi">BMI Calculator</a> </li>
    <li th:unless="${loggedIn}"><a href="/bmiLoggedOut">BMI</a> </li>

    <li><a href="/company">About Us</a></li>

    <li th:if="${loggedIn}"><a  href="/user/index">Home</a></li>
    <li th:unless="${loggedIn}"><a  href="/index">Home</a></li>
    <li class="dropdown">
        <a th:if="${loggedIn}" href="javascript:void(0)" class="dropbtn">Services</a>
        <div class="dropdown-content">
            <a href="/homeExercises">Home Exercises</a>
            <a href="/outdoorExercises">Outdoor Exercises</a>
            <a href="/gymExercises">Gym Exercises</a>
            <a href="/gymLocator">Gym Locator</a>
        </div>
    </li>
    <li th:if="${loggedIn}">
    <a th:if="${user.isNew}" th:href="@{/user/addprofile/{id}(id=${user.id})}">Profile</a>
        <a th:unless="${user.isNew}" href="/user/profile">Profile</a>
    </li>
    <li>
    <a th:unless="${loggedIn}" href="/reg">Sign Up</a>
    <a th:unless="${loggedIn}" href="/login">Login</a>
    <a th:if="${loggedIn}" href="/logout">Logout</a>
    </li>

</ul>

<!--<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <a th:href="@{/}" class="navbar-brand">TechJobs</a>-->
<!--        </div>-->
<!--        <div class="navbar-collapse collapse">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li><a th:href="@{/search}">Search</a></li>-->
<!--                <li><a th:href="@{/list}">List</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<footer th:fragment="footer" class="footer">
    <p>uTrain 2021<br>St. Louis, MO<br>
        <a class="foots" href="Customer.Service@uTrain.com">Customer.Service@uTrain.com</a></p>
</footer>

</body>
</html>