<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head th:replace="fragments :: head"></head>-->
<head>
<!--    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">-->
<!--    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="signin.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/signin.css}">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>
<!--<style th:inline="text">-->
<!--body {-->
<!--  background-image: url([[${Back;-->
<!--  background-repeat: no-repeat;-->
<!--background-color: #0056b9-->
<!--  background-attachment: fixed;-->
<!--  background-size: cover;-->

<!--}-->
<!--</style>-->
<body class="text-center" th:style="'background-image: url(' + ${backgroundImage} + ');
background-repeat: no-repeat;
background-attachment: fixed
background size: cover;
background-position: center;
background-color: #0056b9'">

<!--<header th:replace="fragments :: page-header"></header>-->

<form class="form-signin form-back" method="post">
    <img class="mb-4" th:src="@{/images/icon.png}" alt="logo" border="0" width="68" height="51">
        <h1 style="color: white" class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label class="sr-only" for="username">Username</label>
            <input class="form-control" id="username"th:field="${loginFormDTO.username}" placeholder="username" required autofocus>

        <p style="color: white" class="error" th:errors="${loginFormDTO.username}"></p>
    </br>

        <label class="sr-only" th:for="password">Password</label>
            <input class="form-control" id="password" th:field="${loginFormDTO.password}" type="password" placeholder="password" required>

        <p style="color: white" class="error" th:errors="${loginFormDTO.password}"></p>

    <div class="checkbox mb-3">
        <label style="color: white">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-light btn-block" type="submit">Sign in</button>
    <p style="color: white" class="mt-5 mb-3">Don't have an account? <a style="color: #0087ec" href="/reg">Register</a></p>


    <p style="color: white" class="mt-5 mb-3">© 2021</p>

</form>





<!--<footer th:replace="fragments :: footer"></footer>-->
</body>

</html>