<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head th:replace="fragments :: head"></head>-->
<head>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/heroes/heroes.css">
    <link rel="stylesheet" th:href="@{/signin.css}">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>

<body class="text-center" th:style="'background-image: url(' + ${backgroundImage} + ');
background-repeat: no-repeat;
background-attachment: fixed
background size: cover;
background-position: center;
background-color: #0056b9'">
<!--<header th:replace="fragments :: page-header" ></header>-->
<form style="border-radius:10px" class="p-4 p-md-5 form-back"  method="post">
    <img class="mb-4" th:src="@{/images/icon.png}" alt="logo" border="0" width="68" height="51">
    <h1 style="color: white" class="h3 mb-3 font-weight-heavy">Please Enter Info Below</h1>
    <div class="form-floating mb-3">
        <label class="sr-only" for="username">Username</label>
        <input class="form-control-lg" id="username" th:field="${registerFormDTO.username}" placeholder="username" required autofocus/>
    </div>
        <p style="color: white" class="error" th:errors="${registerFormDTO.username}"></p>

    <div class="form-floating mb-3">
        <label class="sr-only" for="password">Password</label>
            <input class="form-control-lg" id="password" th:field="${registerFormDTO.password}" type="password" placeholder="password" required autofocus/>
    </div>
        <p style="color: white" class="error" th:errors="${registerFormDTO.password}"></p>

    <div class="form-floating mb-3">
        <label class="sr-only" for="verifyPassword">Verify Password</label>
            <input class="form-control-lg" id="verifyPassword" th:field="${registerFormDTO.verifyPassword}" type="password" placeholder="verify password" required autofocus/>
    </div>
    <div class="form-floating mb-3">
        <label class="sr-only" for="email">Email</label>
            <input class="form-control-lg" id="email" th:field="${registerFormDTO.email}" type="email" placeholder="email" required autofocus/>
    </div>
        <p style="color: white" class="error" th:errors="${registerFormDTO.email}"></p>


    <button style="background-color: #0056b9;
                   color: white;
                    border:1px solid #0056b9" class="btn btn-lg btn-light btn-block" type="submit">Register</button>
    <p style="color: white" class="mt-5 mb-3">© 2021</p>

</form>
<!--<footer th:replace="fragments :: footer"></footer>-->
</body>
</html>