<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head >
    <meta charset="UTF-8"/>
    <title>uTrain Register Form</title>
</head>

<body class="container">

<header></header>

<form method="post">
    <div class="form-group">
        <label for="userName">Username
            <input class="form-control" id="userName" />
        </label>
        <p class="error" ></p>
    </div>

    <div class="form-group">
        <label for="password">Password
            <input class="form-control" type="password" id="password"/>
        </label>
        <p class="error" ></p>
    </div>

    <div class="form-group">
        <label for="verifyPassword">Verify Password
            <input class="form-control" type="password" id="verifyPassword"/>
        </label>
        <p class="error" ></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Register"/>
</form>

</body>
</html>