<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: page-header"></header>

<form method="post">

    <h1>Add Workout</h1>

    <div class="form-group">
        <label>Description of Workout
            <input th:field="${workout.description}" class="form-control">
        </label>
        <p class="error" th:errors="${workout.description}"></p>
    </div>

    <div class="form-group">
        <label>Calories Consumed
            <input th:field="${workout.consumedCal}" class="form-control" type="number">
        </label>
        <p class="error" th:errors="${workout.consumedCal}"></p>
    </div>
    <div class="form-group">
        <label>Duration of Workout
            <input th:field="${workout.duration}" class="form-control" type="number">
        </label>
        <p class="error" th:errors="${workout.duration}"></p>
    </div>
<!--    <div class="form-group">-->
<!--        <label>Heart Rate-->
<!--            <input th:field="${workout.heartRate}" class="form-control" type="number">-->
<!--        </label>-->
<!--        <p class="error" th:errors="${workout.heartRate}"></p>-->
<!--    </div>-->
    <h4>Exercise Performed</h4>
    <div class="form-group">
        <label>Name
        <input class="form-control" th:field="${workout.exercise.name}">
        </label>
        <p class="error" th:errors="${workout.exercise.name}"></p>
    </div>
    <div class="form-group">
        <label>Type
            <select class="form-control" th:field="${workout.exercise.exerciseType}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.exerciseType}"
                ></option>
            </select>
        </label>
    </div>


    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success">
    </div>

</form>

<h1>Create Custom Workouts</h1>

<!--<form method="post" action="/workouts/create">-->
<!--    <div class="form-group">-->
<!--        <label>Name-->
<!--            <input type="text" name="name" class="form-control">-->
<!--            <p class="error" th:errors="{workout.name}"></p>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <input type="submit" value="Create Workout" class="btn btn-success">-->
<!--    </div>-->
<!--</form>-->

<p><a th:href="@{/user/index}">Back to Home</a></p>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>