<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
        <link rel="stylesheet" th:href="@{/styles.css}">
        <style>
          @media screen and (max-width: 992px) {
            .goodBye {
                display: none;
            }
          }

          @media screen and (max-width: 250px) {
            .byeBye {
                display: none;
            }
          }

          @media screen and (max-width: 767px) {
            .exampleAZ {
                display: none;
            }
          }
        </style>
    </head>

    <body>
        <header th:replace="fragments :: page-header"></header>

        <div class="container px-5">
            <h1 style="color: #0056b9; text-align: center;"  th:text="${title}"></h1>

            <form method="post" th:action="@{/workout/addworkout}">

                <!--Workout card header-->
                <div class="row justify-content-start">
                    <div class="col-md-12" py-3>
                        <div class="card md-8 rounded-3 shadow-sm" style="border: 1px solid #0056b9;">
                            <h5 class="card-header" style="background-color:#0056b9; color: white">Workout Information</h5>

                            <!--Workout card body-->
                            <div class="card-body">
                                <div class="row justify-content-start">
                                    <div class="col">
                                        <label class="form-label" style="margin-right:20px">Name of Workout
                                            <input th:field="${workout.exercise.name}" class="form-control" style="border: 1px solid #0056b9; width:300px">
                                        </label>
                                        <p class="error" th:errors="${workout.exercise.name}"></p>
                                    </div>

                                    <div class="col">
                                        <label class="form-label" style="margin-right:20px">Description of Workout
                                            <input th:field="${workout.description}" class="form-control" style="border: 1px solid #0056b9; width:300px">
                                        </label>
                                        <p class="error" th:errors="${workout.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                        <!--Exercise card header-->
                        <div class="row justify-content-start">
                            <div class="col-md-12" py-3>
                                <div class="card md-8 rounded-3 shadow-sm" style="border: 1px solid #0056b9;">
                            <h5 class="card-header" style="background-color:#0056b9; color: white">Exercise Performed1</h5>

                                <!--Exercise card body-->
                                <div class="card-body">
                                    <div class="row justify-content-start">
                                        <div class="col">
                                            <label class="form-label" style="margin-right:20px">Type of Workout
                                                <select class="form-control" th:field="${workout.exercise.exerciseType}" style="border: 1px solid #0056b9; width:300px">
                                                    <option th:each="type : ${types}"
                                                            th:value="${type}"
                                                            th:text="${type.exerciseType}">
                                                    </option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col">
                                            <label class="form-label" style="margin-right:20px">Duration of Workout
                                                <input th:field="${workout.exercise.name}" class="form-control" type="number" style="border: 1px solid #0056b9; width:300px">
                                            </label>
                                            <p class="error" th:errors="${workout.duration}"></p>
                                        </div>
                                   </div>
                                </div>
                            </div>


    <div class="py-3">
        <input class="btn btn-lg mb-4" type="submit" value="Add Workout" style="background-color: #0056b9; border:1px solid #0056b9; color: white">
    </div>

</form>
<!--</br>-->
<footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>