<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <style>
        @media screen and (max-width: 767px) {
        .exampleAZ {
            display: none;
        }
      }

      @media screen and (max-width: 992px) {
        .goodBye {
            display: none;
        }
      }

      @media screen and (max-width: 250px) {
        .byeBye {
            display: none;
        }
      }
    </style>
</head>

<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" action="/workouts/create">
    <div class="form-group">
        <label>Name
            <input type="text" name="name" class="form-control">
            <p class="error" th:errors="{workout.name}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Workout" class="btn btn-success">
    </div>
</form>

</body>
</html>