<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: page-header">
    <style>
          @media screen and (max-width: 992px) {
            .goodBye {
                display: none;
            }
          }

          @media screen and (max-width: 250px) {
            .byeBye {
                display: none;
            }
          }

          @media screen and (max-width: 767px) {
            .exampleAZ {
                display: none;
            }
          }
    </style>
</header>
<div class="container py-3">
    <div class="mb-4">
        <!--            <div class="col-md-6">-->
        <div style="border:1px solid #0056b9;" class="pb-4 rounded-3 shadow-sm">
            <div style="background-color: #0056b9" class="header py-3 text-white text-center">
                <h2 class="my-0 fw-normal">Instructional Videos</h2>
            </div>
            <div class="body p-3">

                    <!--<header th:replace="fragments :: page-header"></header>-->


                    <div class="container">
                        <h3 style="color:#0056b9;" align="center">Rock till you Drop!</h3>


                        <p align="center"><iframe width="600" height="315" src="https://www.youtube.com/embed/Laer226B-x8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>


                    </div>
                    <div class="w-50 p-3", style="background-color: #0056b9; margin: auto; color: white"Width 50%> This very exhausting exercise strengthens the rotator cuffs, extends the range of one's lungs, and frees the spirit. </div>
                    <div class="container">
                        <h3  style="color:#0056b9;" align="center">The "All is Lost" Roll</h3>

                        <p align="center"><iframe width="600" height="315" src="https://www.youtube.com/embed/O9VC2MggWy8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="w-50 p-3" style="background-color: #0056b9; margin: auto; color: white"Width 50%>When you are completely drained from uTrain exercises and your soul hits rock bottom, the spinal chord must be revitalized. When All is lost, roll out the body's stress.</div>

                    <div class="container">
                        <h3 style="color:#0056b9;" align="center">The Hopeless Worm</h3>

                        <p align="center"><iframe width="600" height="315" src="https://www.youtube.com/embed/9LUSZIM4ogA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="w-50 p-3" style="background-color: #0056b9; margin: auto; color: white;"Width 50%>Even when you have nothing left to give for the day, we demand more. With what little energy you have, use it for the hopeless worm extending your stamina and pushing the limits of human abilities.</div>
                    <div>
                        <h3 style="color:#0056b9;" align="center">The Squidworth-Carlton</h3>

                        <p align="center"><iframe width="600" height="315" src="https://www.youtube.com/embed/sWft-AXFdXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="w-50 p-3" style="background-color: #0056b9; margin: auto; color: white;"Width 50%>
                    This bad boy improves the flexibility of your hips, increases blood flow to organs, and permits the body 5% more brain functionality.</div>
                    <div>
                        <h3 style="color:#0056b9;" align="center">The Chocolate Dreidel</h3>

                        <p align="center"><iframe width="600" height="315" src="https://www.youtube.com/embed/CUUzUD-5oRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <div class="w-50 p-3" style="background-color: #0056b9; margin: auto; color: white;"Width 50%>
                    The Chocolate Dreidel strengthens your core and hip while also making you the ideal dodgeball player improving your spacial awareness. Spin your way to the top of the PE class.
                    </div>
                        <h3 style="color:#0056b9;" align="center">Split the Difference</h3>

                        <p align="center"><iframe width="600" height="315" src="https://www.youtube.com/embed/nm8KKLaH5yc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="w-50 p-3" style="background-color: #0056b9; margin: auto; color: white;"Width 50%>
                    To achieve uTrain master rank, you must be able to do the split for a 1-hour continuous period. Only then can you truly ascend what awaits for you in life as you reach uTrain enlightenment.
                    </div>


            </div>
        </div>
    </div>
<footer th:replace="fragments :: footer"></footer>
</div>
</body>

</html>
