<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head><div th:replace="fragments :: new-head"></div></head>
<body>
<main style="background-color: white">
    <div class="container py-3">
        <div th:replace="fragments :: nav-bar"></div>
        <h1 th:text="${title}"></h1>
        <div style="border:1px solid #0056b9;" class="pb-4 rounded-3 shadow-lg">
            <div style="background-color: #0056b9" class="header py-3 text-white text-center">
                <h4 th:if="${user.isNew}" class="my-0 fw-normal"  th:text="${user.username} + '`s Workouts!'"></h4>
                <h4 th:unless="${user.isNew}" class="my-0 fw-normal" th:text="${user.userDetail.firstName} + '`s Workouts!'"></h4>
            </div>
            <div class="body p-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Calories Consumed</th>
                            <th>Calories Burned</th>
                            <th>Exercise Name</th>
                            <th>Exercise Type</th>
                            <th>Date of Workout</th>
                        </tr>
                    </thead>
                        <tr th:each="workout : ${workouts}">
                            <th th:text="${workout.description}"></th>
                            <th th:text="${workout.consumedCal}"></th>
                            <th th:text="${workout.burnedCal}"></th>
                            <th th:text="${workout.exercise.name}"></th>
                            <th th:text="${workout.exercise.exerciseType.exerciseType}"></th>
                            <th th:text="${workout.dateFormatter}"></th>
                        </tr>
                </table>
            </div>
         </div>

</br>

    <div th:replace="fragments :: nav-footer"></div>
    </div>
</main>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>