<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body>-->
<!--<header th:replace="fragments :: page-header"></header>-->

<!--<form method="post">-->

<!--    <h1>Send Message</h1>-->


<!--    <div class="form-group">-->
<!--&lt;!&ndash;        <input type="hidden" th:field="${userMessage.user}">&ndash;&gt;-->
<!--        <label>To:-->
<!--            <input th:field="${message.recipient}">-->
<!--        </label>-->
<!--        <p class="error" th:errors="${message.recipient}"></p>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label>Message-->
<!--            <input th:field="${message.body}" class="form-control">-->
<!--        </label>-->
<!--&lt;!&ndash;        <p class="error" th:errors="${message.body}"></p>&ndash;&gt;-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <input type="submit" value="Send" class="btn btn-success">-->
<!--    </div>-->

<!--</form>-->

<!--<p><a th:href="@{/user/index}">Back to Home</a></p>-->

<!--<footer th:replace="fragments :: footer"></footer>-->

<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: page-header"></header>
<div>
<form method="post">

    <h1>Send Message to Workout Buddy</h1>
<!--<form>-->
    <div class="form-group">
        <label for="exampleFormControlInput1" style="color:white">To:</label>
        <input th:field="${message.recipient}" id="exampleFormControlInput1" placeholder="uTrain Username">
        <p class="error" th:errors="${message.recipient}"></p>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1"  style="color:white">Message</label>
        <textarea th:field="${message.body}"  class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
<!--        <textarea th:field="${message.body}" class="form-control" rows="2"></textarea>-->
    </div>

    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-success">
    </div>
</form>
</div>

    <p><a th:href="@{/user/index}">Back to Home</a></p>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>