<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body>-->
<!--<header th:replace="fragments :: page-header"></header>-->

<!--<form method="post">-->

<!--    <h1>Send Message</h1>-->


<!--    <div class="form-group">-->
<!--&lt;!&ndash;        <input type="hidden" th:field="${userMessage.user}">&ndash;&gt;-->
<!--        <label>To:-->
<!--            <input th:field="${message.recipient}">-->
<!--        </label>-->
<!--        <p class="error" th:errors="${message.recipient}"></p>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label>Message-->
<!--            <input th:field="${message.body}" class="form-control">-->
<!--        </label>-->
<!--&lt;!&ndash;        <p class="error" th:errors="${message.body}"></p>&ndash;&gt;-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <input type="submit" value="Send" class="btn btn-success">-->
<!--    </div>-->

<!--</form>-->

<!--<p><a th:href="@{/user/index}">Back to Home</a></p>-->

<!--<footer th:replace="fragments :: footer"></footer>-->

<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container" style="background-color: white;">
<header th:replace="fragments :: page-header"></header>
<div class="col-lg-8" style="margin: auto; width: 50%; padding: 10px;">
    <div style="border: 1px solid #0056b9;" class="card mb-4 rounded-1 shadow-md">
        <div style="background-color: #0056b9;" class="card-header py-3 text-white text-center">
            <h1 class="my-0 fw-normal">Send Message to Workout Buddy</h1>
        </div>
        <div class="card-body">
            <form method="post">
                <!--<form>-->
                <div class="form-group">
                    <label for="exampleFormControlInput1"><h1>To:</h1></label>
                    <input class="form-control-lg" col="3" th:field="${message.recipient}" id="exampleFormControlInput1" placeholder="uTrain Username">
                    <p class="error" th:errors="${message.recipient}"></p>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1"><h1>Message</h1></label>
                    <textarea th:field="${message.body}" col="3" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                    <!--        <textarea th:field="${message.body}" class="form-control" rows="2"></textarea>-->
                </div>

                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary btn-lg" style="background-color: #0056b9; text-align: center;">
                </div>
            </form>
        </div>
    </div>
</div>

<!--    <p><a th:href="@{/user/index}">Back to Home</a></p>-->

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>