<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head><div th:replace="fragments :: new-head"></div></head>

<body>
<main style="background-color: white">
    <div class="container py-3">
<div th:replace="fragments :: nav-bar"></div>
        <h1 th:text="${title}"></h1>
        <div style="border:1px solid #0056b9;" class="pb-4 rounded-3 shadow-lg">
            <div style="background-color: #0056b9" class="header py-3 text-white text-center">
                <h4 class="my-0 fw-normal">Messages</h4>
            </div>
            <div class="body p-3">

<table class="table table-striped">
    <thead>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Message</th>
        <th>Date</th>
    </tr>
    </thead>
    <tr th:each="message : ${messages}">
        <th th:text="${message.sender}"></th>
        <th th:text="${message.recipient}"></th>
        <th th:text="${message.body}"></th>
        <th th:text="${message.dateFormatter}"></th>
    </tr>
</table>
            </div>
        </div>

</br>


        <div th:replace="fragments :: nav-footer"></div>
    </div>
</main>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>