<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">

</head>
<body>
<div th:replace="fragments :: page-header"></div>
<h1>Gyms</h1>

<table class="table">
    <thead>
    <tr>
        <th>From:</th>
        <th>To:</th>
        <th>Message</th>
    </tr>
    </thead>
    <tr th:each="message : ${messages}">
        <th th:text="${message.senderId}"></th>
        <th th:text="${message.recipientId}"></th>
        <th th:text="${message.body}"></th>
    </tr>
</table>

</br>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>